:root {
    --main-body: #dde0e9;
    --header-footer: #bea7ee;
    --botton: #bdb1b4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--main-body);
    font-family: 'Verdana', sans-serif;
    color: black
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

.img {
    width: 100%;
}

.nav-bar_head {
    background: var(--header-footer);
    margin: 10px;
    border: 1px black dotted;
    color: black;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.nav-bar > li {
    border-right: 2px black dotted;
    flex-grow: 1;
    text-align: center;
}

.nav-bar > li:last-child {
    border-right: none;
}

.nav-bar > li > a {
    color: black;
}